# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# VS Code
.vscode/

# Data files
*.csv
*.tsv
*.xls
*.xlsx

# Secrets
*.env
*.secret

# Others
*.bak
*.tmp